@charset "UTF-8";

*{font-family: Arial, Helvetica, sans-serif;}

body {background-image: linear-gradient(to right, #E6862F,#fdbf079a);}

main{background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #613409;
    width: 600px;
    padding: 10px;
    margin:auto}

    h1{
        color: #046e9b;
        text-align:center;
        box-shadow: 1px 1px 5px ;
    }

    h2{
        color:#046e9b ;
    }
    P{ text-align: justify;}


